body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background: #CACAC9;
}

.banner-column{
    background: #8C8C8B;
    /*margin: auto; */
}

.navbar-container{
    top: 0;
    position: sticky;
    z-index: 3;
}
.nav-attribute ul{
    text-transform: uppercase;
}

.about-container{
    background: #00A8BD;
}
.education-container{
    background: #EDEDEC;
}
.circle {
	background: #FF8F7C;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.circle p{
    text-align: center;
}
.project-container{
    background: #1FA7E2;
}
.contact-container{
    background:#454C5C;
}
.inner-form{
    background: #565F75;
}
.bg-redtype{
    background: #FF8F7C;
}
.bg-redtype:hover{
    color:black!important;
}
.footer{
    background: #1FA7E2;
}
.social{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: inline-block;
    background:white;
    font-size: 40px;
    text-align: center;
    color: #1FA7E2;
}
.social:hover{
    background: #565F75;
}