body{
    font-family: 'Open Sans', sans-serif;
}
.banner-container{
    background: #CACAC9;
}

.banner-column{
    background: #8C8C8B;
    /*margin: auto; */
}

.nav-attribute ul{
    text-transform: uppercase;
}

.about-container{
    background: #00A8BD;
}
.education-container{
    background: #EDEDEC;
}
.circle {
	background: #FF8F7C;
	width: 150px;
	height: 150px;
	border-radius: 50%;
}
.circle p{
    text-align: center;
}